<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @seller.company_name %>
</p>

<p>
  <b>Type of company:</b>
  <%= @seller.type_of_company %>
</p>

<p>
  <b>First name:</b>
  <%= @seller.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @seller.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @seller.address %>
</p>

<p>
  <b>Postal code:</b>
  <%= @seller.postal_code %>
</p>

<p>
  <b>City:</b>
  <%= @seller.city %>
</p>

<p>
  <b>Country:</b>
  <%= @seller.country %>
</p>

<p>
  <b>Telephone number:</b>
  <%= @seller.telephone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @seller.email %>
</p>

<p>
  <b>Password:</b>
  <%= @seller.password %>
</p>


<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
