<div class="container">
  <div id="tag_cloud">
    <% tag_cloud Ebook.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
  <h3>Top Download Ebooks</h3>
  <% @ebooks.each do |ebook| %>
    <div class="ebook">
      <span class="ebook ebook-cover"><%= image_tag ebook.cover.url(:thumb) %></span><br />
      <span class="ebook ebook-title"><%= ebook.title %></span><br />
      <span class="ebook ebook-author"><%= ebook.author %></span><br />
      <span class="ebook ebook-price">USD<%= ebook.price %></span><br />
      <span class="ebook ebook-price"><%= raw ebook.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></span><br />
    </div>
  <% end %>
  <%= will_paginate @posts %>
</div>
