<p id="notice"><%= notice %></p>

<p>
  <b>Cover:</b>
  <%= image_tag @ebook.cover.url(:medium) %>
</p>
<p>
  <b>Title:</b>
  <%= @ebook.title %>
</p>

<p>
  <b>Author:</b>
  <%= @ebook.author %>
</p>

<p>
  <b>Price:</b>
  <%= @ebook.price %>
</p>


<%= link_to 'Edit', edit_ebook_path(@ebook) %> |
<%= link_to 'Back', ebooks_path %>
