<!DOCTYPE html>
<html>
<head>
	<title>Ourebook</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag "bootstrap-theme.min" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="title">Our eBook Store</div>
<div id="user_nav" class="navbar navbar-inverse">
	<div class="container">
		<div class="collapse navbar-collapse menubar">
			<ul class="nav navbar-nav">
				<li><%= link_to "Overview ", root_path %></li>
				<li><a href="#">Search</a></li>
				<li><a href="#">Help</a></li>
				<% if current_seller %>
						<li class="right-menubar"><%= link_to "Logged in as seller " + current_seller.email, root_path %></li>
						<li class="right-menubar"><%= link_to "Log out", log_out_path %></li>
    					<li class="right-menubar"><%= link_to 'Upload new ePublication', new_ebook_path %></li>
				<% elsif current_buyer %>		
						<li class="right-menubar"><%= link_to "Logged in as buyer " + current_buyer.email, root_path %></li>
						<li class="right-menubar"><%= link_to "Log out", log_out_buyer_path %></li>
				<% else %>				
						<li class="right-menubar"><%= link_to "Sign up", sign_up_options_path %></li>
						<li class="right-menubar"><%= link_to "Log in", log_in_options_path %></li>
				<% end %>
			</ul>
		</div>
	</div>	
</div>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
